body{
  background-color: #e6ecf0;
}

.navbar{
  margin-bottom: 1rem;
}

.navbar a{
  font-weight: bold;
  color: white;
}

.navbar a:hover{
  /* color: white; */
  text-decoration: underline;
  cursor: pointer;
}

.navbar-brand > img {
  display: inline-block;
  width: 20px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}

ul.navbar-nav li{
  margin: 0 0.5rem;
}

.onboarding > .navbar{
  background-image: url("./Images/nav-bg.png");
  background-size: 100% 100%;
}

.home-hero{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./Images/signed-out-home.jpg");
  z-index: -1;
  text-align: center;
  padding: 1rem;
  background-position: center;
  background-size: cover;
  color: white;
  text-shadow: 0 0 8px #66757f;
}

#messages .list-group-item{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 7px 20px 12px;
}

#messages:not(.no-hover) .list-group-item:hover{
  background-color: #e6ecf0;
}

.timeline-image{
  border-radius: 50px;
  height: 48px;
  width: 48px;
  margin: 2px 30px 10px 10px;

}

.btn:hover{
  cursor: pointer;
}

a.btn.btn-danger,
a.btn.btn-danger:hover{
  color: white;
  float: right;
  border-radius: 18px;
}

.show-user{
  /* display: flex; */
  background-color: white;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 15px;
  overflow: hidden;
}

.show-user .email{
  display: block;
  font-style: italic;
}

/* .show-user button{
  position: relative;
  float: right;
} */

.show-user .float-right{
  position: relative;
  float: right;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.show-user .followers{
  display: flex;
  justify-content: space-between;
}

.show-user .followers .links{
  display: flex;
  flex-direction: column;
}

.user-avatar{
  border-radius: 50%;
  position: relative;
  top: 50px;
  left: 10px;
}

.show-user p {
  font-weight: bold;
  font-size: 20px;
  margin-top: 50px;
}

.cover{
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 200px;
  /* background-color: black; */
  /* background-image: url("./Images/cover1.jpg"); */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: right center;
  background-image: url("./Images/nav-bg.png");
  z-index: -1;
}


.user-sidebar{
  width: 100%;
  border-radius: 50px;
}

.user-sidebar img{
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}